/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  margin: auto;
  text-align: center;
}

h1{
  background-color: #39373b;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #39373b;
  color: white;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

/*img.logo{
  position: relative;
  display: block;
  width: 100%;
  z-index: -1;
}*/

body{
  background: url("../images/Dota-2-Logo.png");
  background-repeat: no-repeat;
  background-position: top -10% center;
}

div.Moving_images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  height: 100%;
}

#Location{
  transition: transform 3s;
  position: relative;
  display: block;
  width: 25%;
}

#team{
  transition: transform 3s;
  display: block;
  width: 25%;
}

#game{
  display: block;
  width: 25%;
}

.alternateStyle{
/*transform: translate(2000px);*/
position: absolute;
left: 10000px;
visibility: hidden;
}

/*img.dog1{
  display: block;
  width: 10%;
  height: 10%;
}

img.dog1.leftTranslate{
  position: absolute;
  right: -100px;
}

img.dog2{
  display: block;
  width: 10%;
  height: 10%;
}

img.dog3{
  display: block;
  width: 10%;
  height: 10%;
}*/



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    margin: auto;
    text-align: center;
  }

  .navigation-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    margin: auto;
    text-align: center;
  }

  .navigation-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
}
