/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body{
  margin-left: auto;
  margin-bottom: 0%;
  margin-right: 0%;
  background-color: #bdc3c7;

  /*Ask about horizontal scrolling*/
  max-width: 100%;
  overflow-x: hidden;
}

h1{
  font-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

.logo{
  justify-content: center;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

div.Moving_images{
  display: flex;
  justify-content: space-around;
  width: auto;
  padding-left: 11%;
  padding-top: 8%;
}

.Navigation_Container{
  transition: filter 0.5s;
  position: relative;
  display: flex;
}

.navImage{
  transition: filter 0.5s;
  width: 70%;
  filter: grayscale(100%);
}

.navImage:hover{
  filter: grayscale(0%);
}

.more_info{
  opacity: 0;
  height: 20%;
  white-space: nowrap;
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
}

.discription{
  margin-left: 2%;
  margin-right: 10%;
}

.discription_text{
  opacity: 0;
}

footer{
  background-color: black;
  color: white;
  width: 100%;
  padding-bottom: 0%;
  margin-top: 5%;
}

.footer-text{
  font-size: 70%;
  padding-top: 1%;
}


/*  Styles used for when an icon has been clicked*/
/*Item being effected - effect - item changing*/

/*Images moving right*/
.click-right{
  transition: transform;
  position: absolute;
  transform: translate(400%);
}

.click-left{
  transition: transform;
  position: absolute;
  transform: translate(-400%);
}

/*Discription appearing*/
.appear-discription{
  transition: opacity 1.5s;
  transition-delay: 0.3s;
  opacity: 1;
}


/*Discriptions being removed*/
.remove-discription{
  display: none;
}

/*Making the more information link appear*/
.more-info-appear{
  transition: opacity 1.5s;
  transition-delay: 1.5s;
  opacity: 1;
  background-color: black;
  color: white;
}


/*Transitions when clicking on an item*/
.Location-click-location{
  transition: filter;
  filter: grayscale(0%);
}

.Team-click-team{
  filter: grayscale(0%);
  transform: translate(-95%);
}

.Game-click-game{
  filter: grayscale(0%);
  transform: translate(-195%);
}



/*Styles for side menu*/
.side_menu{
  background-color:	#e74c3c;
  width: 100%;
  }

.side_menu_image{
  display: none;
}

.side_menu_nav{
  display: flex;
  justify-content: space-around;
}

.side-menu-item{
  color: black;
  text-decoration: none;
  font-weight: bold;
  width: 34%;
  text-align: center;
  padding: 3%;
}

.text-group-container{
  padding-top: 8%;
}

h2{
  text-align: left;
  color: #8B0000;
  margin-bottom: 3%;
  margin-left: 6%;
}

.informative-text{
  text-align: center;
  font-size: 120%;
  padding-bottom: 0%;
  padding-left: 4%;
  padding-right: 5%;
}

.informative-image{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Team standing table styles*/
.team-table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
}

th{
  border-collapse: collapse;
}

th:nth-child(even){
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.team-member:nth-child(even){
  border: none;
}

#top-row{
  border-bottom: 1px solid black;
}

.team-logo{
  width: 40%;
}

.team-member{
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  border: none;
}

tr:nth-child(even){
  background-color: white;
  box-shadow: 3px 3px 3px black;
}

#last-player{
  border-bottom: hidden;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
/*
  body {
    margin: auto;
    text-align: center;
  }

  .navigation-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }*/
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

/*
  body {
    margin: auto;
    text-align: center;
  }

  .navigation-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }*/
}
