/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/*General styling applied to all pages*/
body{
  margin-left: auto;
  margin-bottom: 0%;
  margin-right: 0%;
  background-color: #bdc3c7;
}

h1{
  font-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

.logo{
  justify-content: center;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

footer{
  background-color: black;
  color: white;
  width: 100%;
  padding-bottom: 0%;
  margin-top: 5%;
}

.footer-text{
  font-size: 70%;
  padding-top: 1%;
}


/*Styles applied to the moving images on index*/
.Moving-images{
  width: auto;
  margin-top: 8%;
  margin-left: 28%;
}

.image-more-info{
  display: flex;
}

.navImage{
  transition: filter 0.5s;
  width: 60%;
  filter: grayscale(100%);
}

.navImage:hover{
  filter: grayscale(0%);
}

.more-info{
  height: 0%;
  opacity: 0;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0px;
}

.discription-text{
  opacity: 0;
  margin-left: 2%;
  margin-right: 10%;
  font-size: 100%;
  width: 115%;
}


/*  Styles used for when an icon has been clicked*/
/*Item being effected - effect - item changing*/

.click-left{
  transition: transform;
  transform: translate(-400%);
  margin: 0px;
}


/*Discription appearing and joining the image*/

.appear-discription{
  transition: opacity 1.5s;
  transition-delay: 0.3s;
  opacity: 1;
}


/*Making the more information link appear*/
.more-info-appear{
  transition: opacity 1.5s;
  transition-delay: 1.5s;
  opacity: 1;
  background-color: black;
  color: white;
  height: 20%;
  padding: 2%;
  font-size: inherit;
}


/*Transition when clicking on an image*/
.image-click-image{
  filter: grayscale(0%);
  transform: translate(-35%);
}


/*Styles for side menu*/
.side-menu{
  background-color:	#e74c3c;
  width: 100%;
  }

.side-menu-item:nth-child(even){
  background-color: #c0392b;
}

.side-menu-image{
  display: none;
}

.side-menu-nav{
  display: flex;
  justify-content: space-around;
}


/*Styles for the text and images on the non-index pages*/
.side-menu-item{
  color: black;
  text-decoration: none;
  font-weight: bold;
  width: 34%;
  text-align: center;
  padding: 3%;
}

.text-group-container{
  padding-top: 8%;
}

h2{
  text-align: left;
  color: #8B0000;
  margin-bottom: 3%;
  margin-left: 6%;
}

.informative-text{
  text-align: center;
  font-size: 120%;
  padding-bottom: 0%;
  padding-left: 4%;
  padding-right: 5%;
}

.informative-image{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*Teams table styles*/
.team-table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
  margin-top: 4%;
}

th{
  border-collapse: collapse;
}

th:nth-child(even){
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.team-member:nth-child(even){
  border: none;
}

#top-row{
  border-bottom: 1px solid black;
}

.team-logo{
  width: 40%;
}

.team-member{
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  border: none;
}

tr:nth-child(even){
  background-color: white;
  box-shadow: 3px 3px 3px black;
}


/*Styles for Youtube video on game page*/
.trailer-video{
  width: 100%;
  padding-top: 8%;
  border: hidden;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
/*
  body {
    margin: auto;
    text-align: center;
  }

  .navigation-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }*/
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

/*
  body {
    margin: auto;
    text-align: center;
  }

  .navigation-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }*/
}
